.root{
    --primary-color:
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navigation li{
    display: inline;
    color:antiquewhite;
    padding-right: 1rem;
}
.navigation{
    background-color: #f51261;
    padding-bottom: 0.01rem;
    border-radius: 0px 0px 0px 40px;
    max-width:70rem;
    margin: auto;
}

.navigation div h1{
    color:antiquewhite;
    margin-right: 1rem;
}
.navigation ul{
    text-align: right;
    
}

.navigation ul li a{
    color: antiquewhite;
    border: 2px solid antiquewhite;
    border-radius: 30px;
    text-decoration: none;
    padding: 4px 12px 4px 12px;
    
}

.navigation ul li a:hover{
    color:#f51261;
    border: 2px solid antiquewhite;
    background-color: antiquewhite;
    border-radius: 30px;
    text-decoration: none;
    padding: 4px 12px 4px 12px;
    
}

body img{
    width: 600px;
    display: block;
   margin: auto;
}

.header-main{
    text-align: center;
    color: #64748b;
    margin: auto;
    margin-bottom: 2rem;
    max-width: 600px;
}


.technologies {
    background-color:rgb(219, 219, 219);
    border-radius: 40px 0px 40px 0px;
    max-width: 70rem;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 3rem;
}

.technologies h2{
    text-align: center;
    color: rgb(65, 65, 65);
}

.technologies p{
    font-size: 20px;
    color: rgb(65, 65, 65);
    text-align:center;
    max-width:50rem;
    margin: auto;
}

.projects{
    background-color:rgb(219, 219, 219);
    border-radius: 40px 0px 40px 0px;
    max-width: 70rem;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 3rem;
}

.projects h2{
    text-align: center;
    color: rgb(65, 65, 65);
}

.projects p{
    font-size: 20px;
    color: rgb(65, 65, 65);
    text-align: center;
    max-width:50rem;
    margin: auto;
}

.projects a{
    background-color: #f51261;
    color:antiquewhite;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    text-decoration: none;
    max-width:100px;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.projects a:hover{
    border: 2px solid #f51261;
    background-color: rgb(219, 219, 219);
    color: #f51261;
}

.blogs{
    background-color:rgb(219, 219, 219);
    border-radius: 40px 0px 40px 0px;
    max-width: 70rem;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 3rem;
}


.blogs h2{
    text-align: center;
    color: rgb(65, 65, 65);
}

.blogs p{
    font-size: 20px;
    color: rgb(65, 65, 65);
    text-align: center;
    max-width:50rem;
    margin: auto;
}

.blogs a{
    border: 2px solid #f51261;
    background-color: rgb(219, 219, 219);
    color: #f51261;
    border-radius: 10px;
    padding: 10px;
    max-width: 150px;
    font-size: medium;
    text-decoration: none;
    width:100px;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 20px;
}


.blogs a:hover{
    background-color: #f51261;
    color:antiquewhite;
    border: none;
    
}

.footer{
    background-color: rgb(245, 18, 97);
    color: antiquewhite;
    text-align: center;
    font-size: medium;
    max-width: 70rem;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 40px 40px 0px 0px;
    margin: auto;
}

.footer ul{
    display: inline;
    color:antiquewhite;
    padding-right: 3rem;
    font-size: medium;
  
}

.footer li{
    display: inline;
    color:antiquewhite;
    padding-right: 4rem;
    padding-left: 2rem;
    padding-top: 2rem;
  
}

.footer ul li a{
     color: antiquewhite;
    border: 2px solid antiquewhite;
    border-radius: 30px;
    text-decoration: none;
    padding: 4px 12px 4px 12px;

}

.footer ul li a:hover{
    color:#f51261;
    border: 2px solid antiquewhite;
    background-color: antiquewhite;
    border-radius: 30px;
    text-decoration: none;
    padding: 4px 12px 4px 12px;
    
}