.root{
    --primary-color:
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navigation li{
    display: inline;
    color:antiquewhite;
    padding-right: 3rem;
}
.navigation{
    background-color: #f51261;
    padding-bottom: 0.01rem;
    border-radius: 0px 0px 0px 40px;
    
}

.navigation div h1{
    color:antiquewhite;
    padding: 0.4rem 0rem 0rem 6rem;
    font-size: 1.5rem;
    
}
.navigation ul{
    text-align: right;
    padding-right: 15rem;
}

body img{
    width: 600px;
    margin: auto;
    display: block;
}

.header-main{
    text-align: center;
    color: #64748b;
    margin-bottom: 40px;
}


.technologies {
    background-color:rgb(236, 236, 236);
    padding: 1.5rem ;
    border-radius: 40px 0px 40px 0px;
    margin: 0rem 2rem 0rem 2rem;
    display: block;
}

.technologies h2{
    text-align: center;
    padding: 0.4rem;
    color: rgb(65, 65, 65);
}

.technologies p{
    
    font-size: 20px;

    
    color: rgb(65, 65, 65);
}